@font-face {
    font-family: peach;
    src: url(../fonts/peach.otf);
}

* {
    box-sizing: border-box;
}

.header-portafolio {
    position: fixed;
    top: 50px;
    left: 50%;
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%);
    height: 35px;
    border-radius: 60px;
    background-color: black;
}

.list {
    display: flex;
    padding: 0;
    list-style: none;
}

.item > a {
    font-family: peach;
    color: white;
    text-decoration: none;
}

.item:nth-child(1) > a {
    padding-left: 20px;
    margin-right: 10px;
}

.item:nth-child(4) > a{
    padding-right: 20px;
}

.item:nth-child(2) > a,
.item:nth-child(3) > a {
    margin-right: 10px;
}

@media (hover: hover) {
    .item > a:hover {
        animation: pointer-item-nav 0.5s ease forwards;
    }
}

@keyframes pointer-item-nav{
    100%{
        background-color: white;
        border: 0.5px solid black;
        color: black;
        padding: 10px 20px;
        border-radius: 60px;
        font-weight: bold;
    }
}